<?php
$meta_title = Configure::read('html.contact');
$meta_keywords = Configure::read('html.contact');
$meta_description = Configure::read('html.contact');

$this->set('title_for_layout',$meta_title);
$this->Html->meta('keywords', $meta_keywords, array('inline' => false));
$this->Html->meta('description', $meta_description, array('inline' => false));

$code_area = <<< EOF
EOF;
$this->assign('code_area', $code_area);
?>
<div id="legal">
  <section id="content">
    <h2 class="f25 mb40">お問い合わせ</h2>
    <?php echo $HTML_GUIDE_CONTACT ?>
  </section>
</div>
