<?php
$meta_title = Configure::read('html.faq');
$meta_keywords = Configure::read('html.faq');
$meta_description = Configure::read('html.faq');

$this->set('title_for_layout',$meta_title);
$this->Html->meta('keywords', $meta_keywords, array('inline' => false));
$this->Html->meta('description', $meta_description, array('inline' => false));

$code_area = <<< EOF
EOF;
$this->assign('code_area', $code_area);
?>

<div id="legal">
  <section id="content">
    <h2 class="f25 mb20">よくある質問</h2>
    <?php echo $HTML_GUIDE_FAQ ?>
  </section>
</div>