<?php
$meta_title = Configure::read('html.cart');
$meta_keywords = Configure::read('html.cart');
$meta_description = Configure::read('html.cart');

$this->set('title_for_layout',$meta_title);
$this->Html->meta('keywords', $meta_keywords, array('inline' => false));
$this->Html->meta('description', $meta_description, array('inline' => false));

$referer = @$_SERVER["HTTP_REFERER"];
if(empty($referer) || strpos($referer,'/cart') !== false){
  $referer = '/item/category';
}

$code_area = <<< EOF
EOF;
$this->assign('script_area', $code_area);
?>

<section>
  <h2 class="f25 mb40">カート</h2>
  <form>
    <h3 class="ml30 mb20 mt20 nodecoration">購入商品一覧</h3>
    <table class="cart">
      <caption class="textright">
      （ポイント）
      </caption>
      <tr class="bg_lightgray">
        <th>商品番号</th>
        <th class="width30">タイトル名</th>
        <th>販売額</th>
        <th>削除</th>
        <th>小計</th>
      </tr>
      <?php if(!empty($arrCart['list'])): ?>
      <?php foreach($arrCart['list'] as $row): ?>
      <tr>
        <td><?php echo sprintf('%06d', $row['item_id']) ?></td>
        <td class="tl"><a href="/item/detail/<?php echo sprintf('%06d', $row['item_id']) ?>"><?php echo h($row['item_name']) ?></a></td>
        <td><?php echo number_format($row['price']) ?></td>
        <td><a href="/cart/delItem/<?php echo $row['item_id'] ?>">削除</a></td>
        <td><?php echo number_format($row['total']) ?></td>
      </tr>
      <?php endforeach; ?>
      <?php else: ?>
      <tr>
        <td colspan="5">現在カートに商品は入っていません</td>
      </tr>
      <?php endif; ?>
      <tr>
        <td colspan="4" class="trr bg_lightgray">合　計</td>
        <td><?php echo number_format($arrCart['sumTotal']) ?></td>
      </tr>
    </table>
    <p class="textcenter pt20">
<?php if(!empty($arrCart['list'])): ?>

  <?php if(!empty($loginname)): ?>
        <a href="/cart/buy_point"><input type="button" value="ポイント購入する" class="mybtn-bl mybtn-bl-md mybtn-second"></a>
        <a href="/cart/clearance"><input type="button" value="ポイント決済する" class="mybtn-bl mybtn-bl-md"></a>
  <?php else: ?>
        <a href="/cart/login/buy_point"><input type="button" value="ポイント購入する" class="mybtn-bl mybtn-bl-md mybtn-second"></a>
        <a href="/cart/login/clearance"><input type="button" value="ポイント決済する" class="mybtn-bl mybtn-bl-md"></a>
  <?php endif; ?>

<?php else: ?>

  <?php if(!empty($loginname)): ?>
        <a href="/cart/buy_point"><input type="button" value="ポイント購入する" class="mybtn-bl mybtn-bl-md mybtn-second"></a>
  <?php else: ?>
        <a href="/cart/login/buy_point"><input type="button" value="ポイント購入する" class="mybtn-bl mybtn-bl-md mybtn-second"></a>
  <?php endif; ?>
        <a href="javascript:alert('決済する商品がありません。');"><input type="button" value="ポイント決済する" class="mybtn-bl mybtn-bl-md"></a>

<?php endif; ?>
    </p>
  </form>
</section>
